<div class="toppage"> 
<h1 class="top"></h1>
<div id="d2">&nbsp;</div>
<script>
setInterval(function() {
  document.getElementById("d2").innerHTML = new Date().toLocaleString();
  /*(new Date().toLocaleString('ja-JP-u-ca-japanese'));*/
  //和暦で表示します
}, 1000);
</script>
<br>

<div class="row">
<div class="col-md-4">
	<div class="schedule">入室者</div>
   <p id="notice"><%= notice %></p>
   <div class="side-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
</div>
<tr>

      <th>本日の予定</th>     
<%= calendar number_of_days: 1 do |date| %>
  <% if date == Date.today %>
    <span class="today"><%= date %></span>
    <% @today_blogs = @blogs.select { |blog| blog.start_time.to_date == date } %>
    <% if @today_blogs.any? %>
      <ul>
        <% @today_blogs.each do |blog| %>
          <li><%= link_to blog.title, blog %></li>
        <% end %>
      </ul>
    <% else %>
      <p>今日の予定はありません。</p>
    <% end %>
  <% else %>
    <%= date %>
  <% end %>
<% end %>
 </tr>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>タイトル</th>
      <th>日時</th>
      
     
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= link_to blog.title, blog, class: 'button-link' %></td>
        <td><%= blog.start_time.strftime("%m-%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= form_with(model: @blog, local: true, html: { class: 'form-with-flex' }) do |form| %>

  <div class="title">
    <div class="form-tag">タイトル</div>
    <%= form.text_field :title %>
  </div>


  <div class="content">
    <div class="form-tag">内容</div>
    <%= form.text_field :content %>
  </div>

    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>


    <div class="time_name">時間</div>
    <div class="time">
    <div class="form-tag"></div>
    <%= form.datetime_select :start_time %>
  </div>

 <div class="submit">
    <%= form.submit %>
 </div>
<% end %>
</div>
<br>


<br>
<div class="col-md-8">
<%= month_calendar events: @blogs do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title, blog %>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>